<mat-toolbar color="primary">
  <span>Estructura de un componente Angular</span>
</mat-toolbar>

  <div class="container">
    <br>
    <div class="row">
      <h1>{{titulo}}</h1>
    </div>
    <br>
    
    <!--Tabla Bootstrap-->
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        <!--Utilizo ngFor para iterar sobre el arreglo listaEstudiantes -->
        <tr *ngFor="let estudiante of listaEstudiantes">
          <th scope="row">{{estudiante.id}}</th>
          <td>{{estudiante.nombre}}</td>
          <td>{{estudiante.estado}}</td>
        </tr>
      </tbody>
    </table>
    

  </div>