<div>
  
  <mat-toolbar color="primary">
    <span>Estructura de un componente Angular</span>
  </mat-toolbar>
  <br>
  <div class="centro">
    <mat-card>
      <!--Interpolación-->
      <h1>
       Mi nombres es: {{nombre}}
      </h1>

      <!--en el metodo del TS cree los parámetros y  en el HTML paso los argumentos 10, 15-->
      <h1>
        la suma entre 10 y 15 = {{getSuma(10,15)}}
      </h1>
      <br>
      <!--Aqui hago el property dibinding-->
      <input type="text" class="form-control" [placeholder]="textoPlaceholder" [disabled]="deshabilitado">

    </mat-card>
  </div>
</div>